name: &name clamav-rest
environment: &environment staging
namespace: &namespace open-vsx-org
host: clamav-rest-staging.open-vsx.org

replicaCount: 1

image:
  repository: ajilaag/clamav-rest
  tag: latest
  pullPolicy: IfNotPresent

route:
  timeout: 30s

service:
  type: ClusterIP
  port: 9000
  targetPort: 9000
  port_tls: 9000
  targetPort: 9000

resources: {}
  # example:
  # limits:
  #   cpu: 500m
  #   memory: 1Gi
  # requests:
  #   cpu: 250m
  #   memory: 512Mi

nodeSelector: {}
tolerations: []
affinity: {}

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: clamav-rest.local
      paths:
        - path: /
          pathType: Prefix
  tls: []
    # - hosts:
    #     - clamav-rest.local
    #   secretName: clamav-rest-tls
